@import "tailwindcss";

@theme {
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-mono: "Space Mono", monospace;
}

/* Custom Utilities */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}