name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main  # Make sure your GitHub branch is actually named 'main'
  workflow_dispatch: # This allows you to run it manually from the GitHub UI

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_X_MARKS }}'
          channelId: live
          projectId: x-marks-4dc16